<section class="why-choose-wrap style4 ptb-200 bg-vista-white">
    <img src="assets/img/tub.svg" alt="Image" class="section-img style2 md-none">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row gx-5">
                    <div class="col-xl-6">
                        <div class="content-title mb-20">
                            <h2>We Created And Managed Gardens Around USA</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore. Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Sequi quam quia hic dolores esse totam, facere, reprehenderit
                                possimus asperiores eum.</p>
                        </div>
                        <div class="wh-item-wrap">
                            <div class="wh-item">
                                <div class="wh-icon">
                                    <i class="flaticon-watering-plants"></i>
                                </div>
                                <div class="wh-text">
                                    <h5><a href="about.html">Variation Gardening</a></h5>
                                    <p>Lorem ipsum dolor sit amet, sconsetetur sadipscing elitr, sed diam nonumy eirmod.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy. </p>
                                </div>
                            </div>
                            <div class="wh-item">
                                <div class="wh-icon">
                                    <i class="flaticon-growth"></i>
                                </div>
                                <div class="wh-text">
                                    <h5><a href="about.html">Getting The Best Garden Designers</a></h5>
                                    <p>Lorem ipsum dolor sit amet, sconsetetur sadipscing elitr, sed diam nonumy eirmod sed diam nonumy eirmod.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
                                </div>
                            </div>
                            <div class="wh-item">
                                <div class="wh-icon">
                                    <i class="flaticon-agriculture"></i>
                                </div>
                                <div class="wh-text">
                                    <h5><a href="about.html">Design And 3D Model</a></h5>
                                    <p>Lorem ipsum dolor sit amet, sconsetetur sadipscing elitr, sed diam nonumy eirmod sed diam nonumy eirmod.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="whi-img-wrap">
                            <div class="whi-img-one">
                                <div class="whi-img-bg bg-f"></div>
                                <div class="gd-cat-wrap">
                                    <div class="gd-cat">
                                        <img class="gd-cat-img" src="https://templates.hibootstrap.com/hort/default/assets/img/water-pot-5.svg" alt="Image">
                                        <span>Gardening</span>
                                    </div>
                                    <div class="gd-cat ">
                                        <img class="gd-cat-img" src="https://templates.hibootstrap.com/hort/default/assets/img/hero/flower-tub.svg" alt="Image">
                                        <span>Plants Planted</span>
                                    </div>
                                </div>
                                <div class="exp_text"><img src="https://templates.hibootstrap.com/hort/default/assets/img/about/badge.svg" alt="Image"><span>12</span> Years Of Glorius Experience</div>
                            </div>
                            <div class="whi-img-two bg-f">
                                <a class="video-play circle" href="https://www.youtube.com/watch?v=ihnUg0_eS8Q"><i class="flaticon-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="testimonial-wrap style1  bg-racing-green pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="fun-facts-card">
                    <i class="flaticon-rating-1"></i>
                    <p>Happy Clients</p>
                    <h2><span class="odometer odometer-auto-theme" data-count="300"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">3</span></span>
                        </span>
                        </span>
                        </span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span>
                        </span>
                        </span>
                        </span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span>
                        </span>
                        </span>
                        </span>
                </div>
                </span> +</h2>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="fun-facts-card">
                <i class="flaticon-growth"></i>
                <i class="flaticon-briefcase"></i>
                <p>Plants Planted</p>
                <h2><span class="odometer odometer-auto-theme" data-count="1500"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">1</span></span>
                    </span>
                    </span>
                    </span><span class="odometer-formatting-mark">,</span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">5</span></span>
                    </span>
                    </span>
                    </span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span>
                    </span>
                    </span>
                    </span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span>
                    </span>
                    </span>
                    </span>
            </div>
            </span> +</h2>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="fun-facts-card">
            <i class="flaticon-farming"></i>
            <p>Work Experience</p>
            <h2><span class="odometer odometer-auto-theme" data-count="14"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">1</span></span>
                </span>
                </span>
                </span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">4</span></span>
                </span>
                </span>
                </span>
        </div>
        </span> +</h2>
    </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <div class="fun-facts-card">
            <i class="flaticon-workers"></i>
            <p>Gardeners</p>
            <h2><span class="odometer odometer-auto-theme" data-count="40"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">4</span></span>
                </span>
                </span>
                </span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">0</span></span>
                </span>
                </span>
                </span>
        </div>
        </span> +</h2>
    </div>
    </div>
    </div>
    </div>
</section>