<section id="about-section" class="about-wrap style1 ptb-200 bg-vista-white">
    <img src="/assets/img/tub.svg" alt="Image" class="section-img style2 md-none">
    <div class="container">
        <div class="row gx-5 align-items-center">
            <div class="col-xl-6">
                <div class="about-img-area style1">
                    <img src="/assets/img/about/about-shape-1.png" alt="Image" class="about-shape-1 sm-none">
                    <img src="/assets/img/about/water-drop-2.svg" alt="Image" class="water-shape-2 md-none">
                    <div class="about-img-slider about-slider-one swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="about-img-item">
                                    <div class="about-bg-one bg-f ab-bg-1"></div>
                                    <div class="about-bg-two bg-f ab-bg-2"></div>
                                    <div class="about-cat">
                                        <i class="flaticon-house"></i>
                                        <span>Home Garden Setup</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="about-img-item">
                                    <div class="about-bg-one bg-f ab-bg-3"></div>
                                    <div class="about-bg-two bg-f ab-bg-4"></div>
                                    <div class="about-cat">
                                        <i class="flaticon-agriculture"></i>
                                        <span>Design & Planting</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="about-img-item">
                                    <div class="about-bg-one bg-f ab-bg-5"></div>
                                    <div class="about-bg-two bg-f ab-bg-6"></div>
                                    <div class="about-cat">
                                        <i class="flaticon-watering-plants"></i>
                                        <span>Indoor Scaping</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="about-btn-wrap">
                            <div class="about-one-prev slider-btn style1"><i class="flaticon-left-arrow-2"></i></div>
                            <div class="about-one-next slider-btn style1"><i class="flaticon-right-arrow-1"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-content">
                    <div class="content-title">
                        <h2>We Created &amp; Managed Gardens Around USA</h2>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <a href="about.html" class="btn style1"><i class="flaticon-book"></i>Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="service-wrap ptb-100">
    <img src="/assets/img/tub.svg" alt="Image" class="section-img style1 lg-none">
    <img src="/assets/img/service/service-shape-1.png" alt="Image" class="service-shape-1">
    <div class="container">
        <div class="row">
            <div class="section-title style1 text-center mb-50">
                <h2>Our Gardening Services</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, </p>
            </div>
        </div>
        <div class="row justify-content-center pos-rel">
            <img src="/assets/img/service/leaf-5.png" alt="Image" class="leaf-5">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-card style1" data-animation="fadeIn" data-animation-delay="100ms">
                    <div class="service-info">
                        <div class="service-header">
                            <div class="service-header-icon">
                                <i class="flaticon-house"></i>
                            </div>
                            <div class="service-header-title">
                                <span>Outdoor Spacing</span>
                                <h3><a href="service-details.html">Commercial Gardens</a></h3>
                            </div>
                        </div>
                        <p class="service-desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor ut.</p>
                    </div>
                    <a href="service-details.html" class="service-img">
                        <img src="/assets/img/service/service-4.jpg" alt="Image">
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-card style1" data-animation="fadeIn" data-animation-delay="400ms">
                    <div class="service-info">
                        <div class="service-header">
                            <div class="service-header-icon">
                                <i class="flaticon-farming"></i>
                            </div>
                            <div class="service-header-title">
                                <span>Indoor Spacing</span>
                                <h3><a href="service-details.html">Family Garden Setup</a></h3>
                            </div>
                        </div>
                        <p class="service-desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor ut.</p>
                    </div>
                    <a href="service-details.html" class="service-img">
                        <img src="/assets/img/service/service-5.jpg" alt="Image">
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="service-card style1" data-animation="fadeIn" data-animation-delay="700ms">
                    <div class="service-info">
                        <div class="service-header">
                            <div class="service-header-icon">
                                <i class="flaticon-gardening-1"></i>
                            </div>
                            <div class="service-header-title">
                                <span>Outdoor Spacing</span>
                                <h3><a href="service-details.html">Contemporary Gardens</a></h3>
                            </div>
                        </div>
                        <p class="service-desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor ut.</p>
                    </div>
                    <a href="service-details.html" class="service-img">
                        <img src="/assets/img/service/service-6.jpg" alt="Image">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-15">
            <div class="col-md-12">
                <p class="subtitle">Explore Our Gardening Services.<a class="link style1" href="services.html">View All Services <i class="flaticon-right-arrow"></i></a></p>
            </div>
        </div>
    </div>
</section>


<section class="why-choose-wrap style1 pt-100 pb-75 bg-racing-green">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row gx-5">
                    <div class="col-xl-6">
                        <div class="content-title mb-30">
                            <h2 class="text-white">Why Choose Us</h2>
                            <p class="text-white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
                        </div>
                        <div class="wh-item">
                            <div class="wh-icon">
                                <i class="flaticon-gardening"></i>
                            </div>
                            <div class="wh-text">
                                <h5><a href="about.html">Variation Gardening</a></h5>
                                <p>Lorem ipsum dolor sit amet, sconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                            </div>
                        </div>
                        <div class="wh-item">
                            <div class="wh-icon">
                                <i class="flaticon-agriculture"></i>
                            </div>
                            <div class="wh-text">
                                <h5><a href="about.html">Getting The Best Garden Designers</a></h5>
                                <p>Lorem ipsum dolor sit amet, sconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                            </div>
                        </div>
                        <div class="wh-item">
                            <div class="wh-icon">
                                <i class="flaticon-growth"></i>
                            </div>
                            <div class="wh-text">
                                <h5><a href="about.html">Design And 3d Model</a></h5>
                                <p>Lorem ipsum dolor sit amet, sconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
                            </div>
                        </div>
                        <a href="quote.html" class="btn style1"> Request A Quote <i class="flaticon-right-arrow"></i></a>
                    </div>
                    <div class="col-xl-6">
                        <div class="wh-video-wrap">
                            <img src="/assets/img/leaf-1.svg" alt="Image" class="wh-shape-1">
                            <div class="wh-video bg-f wh-bg-1">
                                <a class="video-play circle" href="https://www.youtube.com/watch?v=ihnUg0_eS8Q"><i class="flaticon-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-100">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="fun-facts-card">
                    <i class="flaticon-rating-1"></i>
                    <p>Happy Clients</p>
                    <h2><span class="odometer" data-count="300">00</span> +</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="fun-facts-card">
                    <i class="flaticon-growth"></i>
                    <i class="flaticon-briefcase"></i>
                    <p>Plants Planted</p>
                    <h2><span class="odometer" data-count="1500">00</span> +</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="fun-facts-card">
                    <i class="flaticon-farming"></i>
                    <p>Work Experience</p>
                    <h2><span class="odometer" data-count="14">00</span> +</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="fun-facts-card">
                    <i class="flaticon-workers"></i>
                    <p>Gardeners</p>
                    <h2><span class="odometer" data-count="40">00</span> +</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="gallery-wrap style1 bg-vista-white ptb-100 pos-rel">
    <img src="/assets/img/tub.svg" alt="Image" class="section-img style2 lg-none">
    <div class="container">
        <div class="section-title style1 text-center mb-50">
            <h2>Our Gallery</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, </p>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-6">
                <div class="row">
                    <div class="col-12">
                        <div class="gallery-item style1 bg-f gallery-bg-1">
                            <div class="gallery-info">
                                <h5><a href="project-details.html">Lawn Cleaning</a></h5>
                                <a class="gal_btn" href="project-details.html"><i class="flaticon-right-arrow-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6">
                <div class="gallery-item style2 bg-f gallery-bg-2">
                    <div class="gallery-info">
                        <h5><a href="project-details.html">Home Garden</a></h5>
                        <a class="gal_btn" href="project-details.html"><i class="flaticon-right-arrow-1"></i></a>
                    </div>
                </div>
                <div class="gallery-item style2 bg-f gallery-bg-3">
                    <div class="gallery-info">
                        <h5><a href="project-details.html">Commercial Garden</a></h5>
                        <a class="gal_btn" href="project-details.html"><i class="flaticon-right-arrow-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-xl-12  col-lg-12">
                        <div class="gallery-item style2 bg-f gallery-bg-4">
                            <div class="gallery-info">
                                <h5><a href="project-details.html">Indoor Scaping</a></h5>
                                <a class="gal_btn" href="project-details.html"><i class="flaticon-right-arrow-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="gallery-item style2 bg-f gallery-bg-5">
                            <div class="gallery-info">
                                <h5><a href="project-details.html">Maintanence</a></h5>
                                <a class="gal_btn" href="project-details.html"><i class="flaticon-right-arrow-1"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6  col-lg-6">
                        <div class="gallery-item style2 bg-f gallery-bg-6">
                            <div class="gallery-info">
                                <h5><a href="project-details.html">Outdoor Scaping</a></h5>
                                <a class="gal_btn" href="project-details.html"><i class="flaticon-right-arrow-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-15">
            <div class="col-md-12">
                <p class="subtitle">Explore All Our Gardening Services.<a class="link style1" href="services.html">View All Services <i class="flaticon-right-arrow"></i></a></p>
            </div>
        </div>
    </div>
</section>



<section class="testimonial-wrap style1 ptb-100 bg-racing-green">
    <div class="container">
        <div class="testimonial-slider-one swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gx-5 align-items-center">
                            <div class="col-lg-6">
                                <div class="client-img bg-f client-bg-1">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="client-quote">
                                    <div class="quote-icon-one">
                                        <i class="flaticon-right-quote-sign"></i>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                                        clita kasd gubergren, no sea akimata.</p>
                                    <div class="client-info">
                                        <h5>Lisa Mason</h5>
                                        <span>CEO, Artree</span>
                                    </div>
                                    <div class="quote-icon-two">
                                        <i class="flaticon-right-quote-sign"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gx-5 align-items-center">
                            <div class="col-lg-6">
                                <div class="client-img bg-f client-bg-2">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="client-quote">
                                    <div class="quote-icon-one">
                                        <i class="flaticon-right-quote-sign"></i>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                                        clita kasd gubergren, no sea akimata.</p>
                                    <div class="client-info">
                                        <h6>Tony Stark</h6>
                                        <span>Director, Noverties Inc</span>
                                    </div>
                                    <div class="quote-icon-two">
                                        <i class="flaticon-right-quote-sign"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="row gx-5 align-items-center">
                            <div class="col-lg-6">
                                <div class="client-img bg-f client-bg-3">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="client-quote">
                                    <div class="quote-icon-one">
                                        <i class="flaticon-right-quote-sign"></i>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                                        clita kasd gubergren, no sea akimata.</p>
                                    <div class="client-info">
                                        <h6>Joseph Anston</h6>
                                        <span>MD, Olly</span>
                                    </div>
                                    <div class="quote-icon-two">
                                        <i class="flaticon-right-quote-sign"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-pagination style1 testimonial-one-pagination"></div>
        </div>
    </div>
</section>