<section class="service-details-wrap ptb-200">
    <img src="assets/img/tub.svg" alt="Image" class="section-img style1 md-none">
    <div class="container">
        <div class="row gx-5">
            <div class="col-xxl-3 col-xl-4 col-lg-12 order-xxl-1 order-xl-1 order-lg-2 order-md-2 order-2">
                <div class="sidebar">
                    <div class="sidebar-widget search-box ">
                        <input type="search" placeholder="Search By Keywords">
                        <button type="submit"> <i class="las la-search"></i></button>
                    </div>
                    <div class="sidebar-widget categories box">
                        <h4>Our Services</h4>
                        <div class="category-box">
                            <ul class="list-style">
                                <li><a href="services.html">Design &amp; Planting</a></li>
                                <li><a href="services.html">Lawn &amp; Garden Care</a></li>
                                <li><a href="services.html">Stone &amp; Rock Scaping</a></li>
                                <li><a href="services.html">Water Fountain</a></li>
                                <li><a href="services.html">Outdoor Scaping</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget quote-box box">
                        <h4>Request A Quote</h4>
                        <form action="#" class="quote-form">
                            <div class="form-group">
                                <input type="text" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input type="email" placeholder="Your Email">
                            </div>
                            <div class="form-group">
                                <input type="number" placeholder="Phone Number">
                            </div>
                            <button type="submit" class="btn style1 d-block w-100"> Request A Quote <i class="flaticon-right-arrow"></i></button>
                        </form>
                    </div>
                    <div class="sidebar-widget contact-box box">
                        <h4>Contact Us</h4>
                        <div class="contact-box-wrap">
                            <div class="contact-item style1">
                                <div class="contact-icon">
                                    <i class="las la-phone-volume"></i>
                                </div>
                                <div class="contact-info">
                                    <a href="tel:8882222200">888-222-2200</a>
                                </div>
                            </div>
                            <div class="contact-item style1">
                                <div class="contact-icon">
                                    <i class="lar la-envelope"></i>
                                </div>
                                <div class="contact-info">
                                    <a href="../../cdn-cgi/l/email-protection.html#790a0c0909160b0d3911160b0d571a1614">support@hort.com</a>
                                </div>
                            </div>
                            <div class="contact-item style1">
                                <div class="contact-icon">
                                    <i class="las la-map-marker"></i>
                                </div>
                                <div class="contact-info">
                                    <span>121 Second Street Mount Holly,
  NJ 08060</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-9 col-xl-8 col-lg-12 order-xxl-2 order-xl-2 order-lg-1 order-md-1 order-1">
                <div class="service-desc">
                    <span class="service-cat">Outdoor Spacing</span>
                    <h2 class="service-name">Commercial Garden Setup</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora soluta quia nemo, placeat. Minus aliquid hic libero quam nihil praesentium veritatis consequuntur quasi, harum, totam, culpa. Quasi asperiores architecto magnam minus
                        dolorem, cumque eligendi illo eius alias cum facere optio tempore corrupti culpa ab. Fugiat, alias. Impedit assumenda, neque quaerat!</p>
                    <h5 class="service-subtitle">We care about your Garden Installation project as much as you do and we'll do everything. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, sint. </h5>
                    <div class="single-service-img">
                        <img src="https://templates.hibootstrap.com/hort/default/assets/img/service/single-service-1.jpg" alt="Image">
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non repellat sint ad laboriosam nemo nam quibusdam aut deleniti eligendi. Dignissimos. Mollitia facere repellat cum veniam recusandae animi, tempora velit inventore ex, natus
                        modi sint ipsam perferendis explicabo placeat, unde odio voluptates possimus blanditiis architecto, id ut itaque exercitationem debitis. Iste, tempora, dolorem.</p>
                    <p>Consectetur adipisicing, elit. Sed voluptatibus consequuntur consequatur laudantium repudiandae at. Error nobis, voluptatum commodi alias Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis et nam animi aliquam amet fugit,
                        labore earum tenetur voluptatibus dignissimos.</p>
                    <div class="service-subinfo bg-vista-white">
                        <h4>What Benifits You Will Get </h4>
                        <ul class="features-list list-style">
                            <li><i class="las la-check-circle"></i>Improve your quality of living by a green outdoor area</li>
                            <li><i class="las la-check-circle"></i>Optio reprehenderit nulla quasi dolor inventore ea vero.</li>
                            <li><i class="las la-check-circle"></i>Sit amet consectetur adipisicing ssumenda est excepturi.</li>
                            <li><i class="las la-check-circle"></i>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti!</li>
                        </ul>
                    </div>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
  Design &amp; Planning
  </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="single-product-text">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
  Proper Nutrition &amp; Fertilizer For Plants
  </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Nemo quidem atque, nobis aut eveniet ratione, adipisci nisi itaque similique explicabo, soluta vel rem facilis sunt.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
  Make Arrangements &amp; Planting
  </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat possimus deleniti adipisci officia ipsa dolor atque mollitia non accusamus explicabo suscipit error, placeat quia minima. Ut fugit adipisci ullam, omnis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingfour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
  Implementation &amp; recommendation
  </button>
                            </h2>
                            <div id="collapsefour" class="accordion-collapse collapse " aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="single-product-text">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-subinfo bg-vista-white mb-0">
                        <h4>Estimated Cost For Service</h4>
                        <div class="service-cost-wrap">
                            <div class="service-cost-item">
                                <h5>Average Local Cost</h5>
                                <p>$2305</p>
                            </div>
                            <div class="service-cost-item">
                                <h5>Typical Price Range(per sq ft)</h5>
                                <p>$7- $15</p>
                            </div>
                            <div class="service-cost-item">
                                <h5>Average Total Cost</h5>
                                <p>$4305</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>